<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forgot Password</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet" />
  </head>

  <body class="bg-gray-100 flex items-center justify-center h-screen">
    <div class="bg-white p-8 rounded shadow-md w-max">
      <h2 class="text-2xl font-bold mb-4">Forgot Password</h2>
      <p class="text-sm whitespace-nowrap">Kami akan mengirimkan email untuk me-reset password anda</p>
      <% if (status === "true") { %>
      <div class="bg-green-100 border-l-4 border-green-500 text-green-700 p-4 mb-4">
        <p><span class="font-semibold">Sukses:</span> <%= message %></p>
      </div>
      <% } else { %> <% if (message) { %>
      <div class="bg-red-100 border-l-4 border-red-500 text-red-700 p-4 mb-4">
        <p><span class="font-semibold">Error:</span> <%= message %></p>
      </div>
      <% } %> <% } %>
      <form action="/api/forgot-password" method="post">
        <div class="mb-4">
          <label for="email" class="block text-gray-600 font-semibold mb-2">Email</label>
          <input type="email" id="email" name="email" class="w-full border border-gray-300 rounded-md py-2 px-3 focus:outline-none focus:border-blue-400" />
        </div>
        <button type="submit" class="w-full bg-blue-500 text-white font-semibold py-2 rounded-md hover:bg-blue-600 focus:outline-none focus:bg-blue-600">Reset Password</button>
      </form>
    </div>
  </body>
</html>
